<!-- page heading start-->
<div class="page-heading">
    <h3>
        新建订单
    </h3>
    <ul class="breadcrumb">
        <li>
            <%= link_to '全部订单', orders_path %>
        </li>
        <li class="active"> 新建 </li>
    </ul>
    <% if notice %>
      <h4 class="form-error"><%= notice %></h4>
    <% end %>
</div>
<!-- page heading end-->
<%= render 'form', order: @order %>

<script>

</script>
